# Git
.git/
.gitignore
.gitattributes

# Docker
Dockerfile*
.dockerignore

# Environnements virtuels
.venv/
env/
venv/
tf_api_env/
fastapi_env/
*/env/
*/venv/
*/*venv/

# Python caches
__pycache__/
*.py[cod]
*$py.class

# Fichiers OS
.DS_Store
Thumbs.db

# MLflow (si logs locaux)
mlruns/
mlflow_tracking_persistent/ # Si vous aviez cela à la racine

# Notebooks et rapports (généralement pas dans l'image API)
notebooks/
reports/

# Datasets (NE JAMAIS METTRE DANS L'IMAGE)
data/
P8_Cityscapes_leftImg8bit_trainvaltest/
P8_Cityscapes_gtFine_trainvaltest/
*_subset/

# Fichiers de configuration IDE/éditeur
.vscode/
.idea/

# Fichiers temporaires ou de build
*.egg-info/
dist/
build/